<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile spain" (click)="openProject('spain')">
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> Personal </span>
                    <span class="project__label"> Location </span>
                    <span class="project__value"> Madrid, Spain </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/photoshop.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/lightroom.svg"/>
                </div>
                <span class="year"> 2016 </span>
            </div>
        </div>
    </div>
</div>