.category-title {
    width: 100%;
    text-align: center;
    display: block;
    font-weight: bold;
    font-size: 21px;
    padding-bottom: 10px;
    border-bottom: solid 1px white;
    display: none;
}

.container-fluid {
    margin: 50px auto 0px;
    padding-bottom: 120px;
    transition: opacity 1s ease;
}

.row {
    padding-left: 45px;
    padding-right: 45px;
}

.tile {
    height: 360px;
    width: 360px;
    border-radius: 3px;
    position: relative;
    margin: 20px auto;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}

.tile:hover {
    transform: translateY(-5px);
}

.tile__imgs {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 37px;
}

.desktop, .mobile {
    box-shadow: -4px 13px 23px rgba(0, 0, 0, 0.5);
    display: inline-block;
}

.desktop {
    width: 215px;
    margin-left: 31px;
    margin-right: 30px;
    border-radius: 3px;
}

.mobile {
    width: 50px;
    position: absolute;
    bottom: 0;
    border-radius: 2px;
}

.tile__imgs__mobile {
    display: block;
    position: relative;
    width: 100%;
    padding-top: 33px;
    margin-left: 6px;
}

.mobile-triple {
    width: 72px;
    margin-left: 27px;
    border-radius: 3px;
    box-shadow: -4px 17px 23px rgba(0, 0, 0, 0.5);
}

.tile__info {
    position: absolute;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-top: 20px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.60);
    width: 100%;
    border-radius: 0 0 3px 3px;
}

.tile__info * {
    display: block;
}

.client__value {
    padding-bottom: 25px;
}

.client__label, .project__label {
    font-family: 'AlexandriaFLF', serif;
    text-transform: uppercase;
    font-size: 16px;
}

.client__value, .project__value {
    margin-top: -5px;
    font-size: 19px;
    font-weight: 300;
}

.tile__tech {
    position: absolute;
    bottom: 45px;
    right: 25px;
}

.tech-svg {
    height: 17px;
}

.year {
    position: absolute;
    font-size: 17px;
    font-weight: 200;
    bottom: 15px;
    right: 25px;
}

@media(max-width: 470px) {
    .tile {
        height: 295px;
        width: 295px;
    }

    .row {
        padding: 0;
    }

    .tile__imgs {
        padding-top: 25px;
    }

    .desktop {
        width: 180px;
        height: 112px;
        margin-left: 25px;
        margin-right: 15px;
        border-radius: 3px;
    }

    .client__value {
        padding-bottom: 20px;
    }

    .client__label, .project__label {
        font-size: 14px;
    }

    .client__value, .project__value {
        font-size: 18px;
    }

    .tile__tech {
        bottom: 40px;
        right: 20px;
    }

    .tech-svg {
        height: 15px;
    }

    .year {
        position: absolute;
        font-size: 13px;
        right: 20px;
    }

    .tile__info {
        padding-left: 20px;
    }

}

@media(max-width: 372px) {
    .tile {
        height: 240px;
        width: 240px;
    }

    .row {
        padding: 0;
    }

    .tile__imgs {
        padding-top: 18px;
    }

    .desktop {
        width: 160px;
        height: 100px;
        margin-left: 20px;
        margin-right: 12px;
        border-radius: 3px;
    }

    .mobile {
        width: 35px;
        height: 62px;
    }

    .client__label, .project__label {
        font-size: 11px;
    }

    .client__value, .project__value {
        margin-top: -2px;
        font-size: 15px;
    }

    .client__value {
        padding-bottom: 20px;
    }

    .tile__tech {
        bottom: 32px;
    }

    .tech-svg {
        height: 13px;
    }

    .year {
        position: absolute;
        font-size: 11px;
    }

}

.spain {
    background: url('./../../../assets/img/photography/spain/spain-back.jpg');
    background-size: cover;
    animation: container-fade 2s;
}

.mru {
    background: url('./../../../assets/img/photography/mru/mru-back.jpg');
    background-size: cover;
    animation: container-fade 1s;
}

.chicago {
    background: url('./../../../assets/img/photography/chicago/chicago-back.jpg');
    background-size: cover;
    background-position: right;
    animation: container-fade 1.5s;
}

.engagement {
    background: url('./../../../assets/img/photography/engagement/engagement-back.jpg');
    background-size: cover;
    background-position: center;
    animation: container-fade 2s;
}

.newyork {
    background: url('./../../../assets/img/photography/nyc/nyc-back.jpg');
    background-size: cover;
    background-position: center;
    animation: container-fade 2s;
}

.photoshop {
    background: url('./../../../assets/img/photography/photoshop/photoshop-back.png');
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    animation: container-fade 0.5s;
}

.paris {
    background: url('./../../../assets/img/photography/paris/paris-back.jpg');
    background-size: cover;
    background-position: center;
    animation: container-fade 2s;
}

.niagara {
    background: url('./../../../assets/img/photography/niagara/niagara-back.jpg');
    background-size: cover;
    background-position: center;
    animation: container-fade 2s;
}

@keyframes container-fade {
    0% {opacity: 0; transform: translateX(-70px);}
    100% {opacity: 1; transform: translateX(0px);}
}

@media(max-width: 1268px) {
    .row {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media(max-width: 875px) {
    .category-title {
        display: block;
    }

    .container-fluid {
        margin-top: 25px;
    }
}

@media(max-width: 603px) {
    .container-fluid {
        margin: 25px auto 0px;
    }
}

@media(max-width: 470px) {
    .container-fluid {
        margin: 25px auto 0px;
    }
}