<div class="container-fluid">
    <span class="category-title">PHOTOGRAPHY</span>
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile photoshop" (click)="openProject('photoshop')">
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> Personal </span>
                    <span class="project__label"> Location </span>
                    <span class="project__value"> Multiple </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/photoshop.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/lightroom.svg"/>
                </div>
                <span class="year"> 2019 </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile mru" (click)="openProject('mru')">
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> Kappa Alpha Theta </span>
                    <span class="project__label"> Location </span>
                    <span class="project__value"> Chicago, Illinois </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/photoshop.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/lightroom.svg"/>
                </div>
                <span class="year"> 2019 </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile chicago" (click)="openProject('chicago')">
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> Personal </span>
                    <span class="project__label"> Location </span>
                    <span class="project__value"> Chicago, Illinois </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/photoshop.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/lightroom.svg"/>
                </div>
                <span class="year"> 2018 </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile newyork" (click)="openProject('newyork')">
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> Personal </span>
                    <span class="project__label"> Location </span>
                    <span class="project__value"> NYC, New York </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/photoshop.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/lightroom.svg"/>
                </div>
                <span class="year"> 2018 </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile engagement" (click)="openProject('engagement')">
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> D & MM </span>
                    <span class="project__label"> Location </span>
                    <span class="project__value"> Chicago, Illinois </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/photoshop.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/lightroom.svg"/>
                </div>
                <span class="year"> 2018 </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile paris" (click)="openProject('paris')">
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> Personal </span>
                    <span class="project__label"> Location </span>
                    <span class="project__value"> Paris </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/photoshop.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/lightroom.svg"/>
                </div>
                <span class="year"> 2018 </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile niagara" (click)="openProject('niagara')">
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> Personal </span>
                    <span class="project__label"> Location </span>
                    <span class="project__value"> Niagara Falls </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/photoshop.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/lightroom.svg"/>
                </div>
                <span class="year"> 2018 </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile spain" (click)="openProject('spain')">
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> Personal </span>
                    <span class="project__label"> Location </span>
                    <span class="project__value"> Madrid, Spain </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/photoshop.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/lightroom.svg"/>
                </div>
                <span class="year"> 2016 </span>
            </div>
        </div>
    </div>
</div>