<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile fb" (click)="openProject('fb')">
                <div class="tile__imgs">
                    <img class="desktop" src="./../../../assets/img/design/fb/fb-d-thumb.jpg"/>
                </div>
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> Personal </span>
                    <span class="project__label"> Project Type </span>
                    <span class="project__value"> UI Design </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/sketch.svg"/>
                </div>
                <span class="year"> 2016 </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile pres" (click)="openProject('pres')">
                <div class="tile__imgs">
                    <img class="desktop" src="./../../../assets/img/design/pres/pres-d-thumb.jpg"/>
                </div>
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> Personal </span>
                    <span class="project__label"> Project Type </span>
                    <span class="project__value"> Presentation </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/sketch.svg"/>
                </div>
                <span class="year"> 2016 </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile aig" (click)="openProject('aig')">
                <img class="winner" src="./../../../assets/img/development/uncommon/winner.svg">
                <div class="tile__imgs">
                    <img class="desktop" src="./../../../assets/img/design/aig/aig-d-thumb.jpeg"/>
                    <img class="mobile" src="./../../../assets/img/design/aig/aig-m-thumb.jpeg"/>
                </div>
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> American International Group </span>
                    <span class="project__label"> Project Type </span>
                    <span class="project__value"> UI Design </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/sketch.svg"/>
                </div>
                <span class="year"> 2016 </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile uw" (click)="openProject('uw')">
                <div class="tile__imgs">
                    <img class="desktop" src="./../../../assets/img/design/uw/uw-d-thumb.jpg"/>
                </div>
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> Unaccompanied Women </span>
                    <span class="project__label"> Project Type </span>
                    <span class="project__value"> Poster </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/photoshop.svg"/>
                </div>
                <span class="year"> 2016 </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile ig" (click)="openProject('ig')">
                <div class="tile__imgs">
                    <img class="desktop" src="./../../../assets/img/design/ig/ig-d-thumb.jpg"/>
                    <img class="mobile small-icon" src="./../../../assets/img/design/ig/ig-m-thumb.png"/>
                </div>
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> Personal </span>
                    <span class="project__label"> Project Type </span>
                    <span class="project__value"> App Icon Design </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/sketch.svg"/>
                </div>
                <span class="year"> 2016 </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile poly" (click)="openProject('poly')">
                <div class="tile__imgs">
                    <img class="desktop" src="./../../../assets/img/design/poly/poly-d-thumb.jpg"/>
                    <img class="mobile small-icon" src="./../../../assets/img/design/poly/poly-m-thumb.jpg"/>
                </div>
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> Personal </span>
                    <span class="project__label"> Project Type </span>
                    <span class="project__value"> Low Polygon Art </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/photoshop.svg"/>
                </div>
                <span class="year"> 2016 </span>
            </div>
        </div>
    </div>
</div>