<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-12 columnz">
            <div class="tile dev-rfc" (click)="openProject('rfc')">
                <div class="tile__imgs">
                    <img class="desktop" src="./../../../assets/img/development/rfc/rfc-d-thumb.jpeg"/>
                    <img class="mobile" src="./../../../assets/img/development/rfc/rfc-m-thumb.jpeg"/>
                </div>
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> Run for Cover </span>
                    <span class="project__label"> Project Type </span>
                    <span class="project__value"> Website </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/html.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/css.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/jquery.svg"/>
                </div>
                <span class="year"> 2017 </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile hack-harvard" (click)="openProject('hh')">
                <div class="tile__imgs">
                    <img class="desktop" src="./../../../assets/img/development/hh/hh-d-thumb.jpeg"/>
                    <img class="mobile" src="./../../../assets/img/development/hh/hh-m-thumb.jpeg"/>
                </div>
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> HackHarvard </span>
                    <span class="project__label"> Project Type </span>
                    <span class="project__value"> Website </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/html.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/css.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/gmaps.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/gvoice.svg"/>
                </div>
                <span class="year"> 2016 </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile stmcoc" (click)="openProject('stmcoc')">
                <div class="tile__imgs">
                    <img class="desktop" src="./../../../assets/img/development/stmcoc/stmcoc-d-thumb.jpeg"/>
                    <img class="mobile" src="./../../../assets/img/development/stmcoc/stmcoc-m-thumb.jpeg"/>
                </div>
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> St. Mary's Coptic Orthodox Church </span>
                    <span class="project__label"> Project Type </span>
                    <span class="project__value"> Website </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/html.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/css.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/jquery.svg"/>
                </div>
                <span class="year"> 2016 </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile uofc" (click)="openProject('uofc')">
                <div class="tile__imgs">
                    <img class="desktop" src="./../../../assets/img/development/uofc/uofc-d-thumb.jpeg"/>
                    <img class="mobile" src="./../../../assets/img/development/uofc/uofc-m-thumb.jpeg"/>
                </div>
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> University of Chicago </span>
                    <span class="project__label"> Project Type </span>
                    <span class="project__value"> Twilio Application </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/python.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/twilio.svg"/>
                </div>
                <span class="year"> 2016 </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile uncommon" (click)="openProject('uncommon')">
                <img class="winner" src="./../../../assets/img/development/uncommon/winner.svg">
                <div class="tile__imgs__mobile">
                    <img class="mobile-triple" src="./../../../assets/img/development/uncommon/uncommon-m-1.jpeg"/>
                    <img class="mobile-triple" src="./../../../assets/img/development/uncommon/uncommon-m-2.jpeg"/>
                    <img class="mobile-triple" src="./../../../assets/img/development/uncommon/uncommon-m-3.jpeg"/>
                </div>
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> Uncommon Hacks </span>
                    <span class="project__label"> Project Type </span>
                    <span class="project__value"> iOS Application </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/swift.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/sketch.svg"/>
                </div>
                <span class="year"> 2016 </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile calc" (click)="openProject('calc')">
                <div class="tile__imgs__mobile">
                    <img class="mobile-triple" src="./../../../assets/img/development/calc/calc-m-1.jpg"/>
                    <img class="mobile-triple" src="./../../../assets/img/development/calc/calc-m-2.jpg"/>
                    <img class="mobile-triple" src="./../../../assets/img/development/calc/calc-m-3.jpg"/>
                </div>
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> Personal </span>
                    <span class="project__label"> Project Type </span>
                    <span class="project__value"> iOS Application </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/swift.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/sketch.svg"/>
                </div>
                <span class="year"> 2016 </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12">
            <div class="tile old" (click)="openProject('old')">
                <div class="tile__imgs">
                    <img class="desktop" src="./../../../assets/img/development/old/old-d-thumb.jpeg"/>
                    <img class="mobile" src="./../../../assets/img/development/old/old-m-thumb.jpeg"/>
                </div>
                <div class="tile__info">
                    <span class="client__label"> Client </span>
                    <span class="client__value"> Personal </span>
                    <span class="project__label"> Project Type </span>
                    <span class="project__value"> Website </span>
                </div>
                <div class="tile__tech">
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/html.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/css.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/jquery.svg"/>
                    <img class="tech-svg" src="./../../../assets/img/tech-svgs/sketch.svg"/>
                </div>
                <span class="year"> 2015 - 2016 </span>
            </div>
        </div>
    </div>
</div>