a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: underline;
}

.winner {
    position: absolute;
    visibility: hidden;
    z-index: 0;
    right: 0;
    top: 0;
    width: 150px;
}

.header {
    padding: 70px 85px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__intro {
    font-size: 45px;
    font-weight: 600;
    margin-right: 17px;
}

.header__name {
    font-size: 45px;
    font-weight: 100;
}

.returnhome {
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
    height: 45px;
    width: 45px;
    z-index: 5;
}

.returnhome-svg {
    height: 45px;
    width: 45px;
}

#circle {
    transition: fill 0.5s ease-in-out;
 }

.returnhome:hover #circle {
    fill: white !important;
}

#right-arrow {
    transition: fill 0.5s ease-in-out;
}  

.returnhome:hover #right-arrow {
    fill: rgba(0, 0, 0, 0.7)
}

.cover-img {
    display: flex;
    align-items: center;
    /* Change on resize */
    height: 300px;
}

.header-img {
    width: 45%;
    position: relative;
    margin: 50px auto -60px;
}

.cover-img {
    -webkit-animation: container-bobbing 3s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: container-bobbing 3s ease-in-out;
    -moz-animation-iteration-count: infinite;
    -o-animation: container-bobbing 3s ease-in-out;
    -o-animation-iteration-count: infinite;
    animation: container-bobbing 3s ease-in-out;
    animation-iteration-count: infinite;  
}

.description, .link, .downloads {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.project-details {
    background: #202122;
    padding-bottom: 70px;
}

.project-heading {
    padding: 70px 85px 50px;
}

.client-label {
    text-transform: uppercase;
    font-family: 'AlexandriaFLF', serif;
    display: block;
    font-size: 25px;
    margin-bottom: -10px;
}

.client-name {
    font-size: 60px;
    font-weight: 500;
}

.project-nav {
    float: right;
    padding: 70px 85px 0 0;
    font-size: 25px;
}

.project-num {
    font-weight: 200;
}

.project-num-count {
    font-weight: 900;
}

.project-arrows {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.arrow-fwd, .arrow-back {
    height: 35px;
    width: 35px;
    cursor: pointer;
    z-index: 2;
}

.arrow-fwd {
    padding-left: 15px;
    transition: transform 0.5s ease-in-out;
}

#Project-fwd, #Project-back {
    fill: #777;
}

.arrow-fwd:hover {
    transform: translateX(10px);
}

.arrow-fwd #Project-fwd {
    transition: fill 0.5s ease-in-out;
}

.arrow-fwd:hover #Project-fwd {
    fill: white;
}

.arrow-back {
    transition: transform 0.5s ease-in-out;
}

.arrow-back #Project-back {
    transition: fill 0.5s ease-in-out;
}

.arrow-back:hover #Project-back {
    fill: white;
}

.arrow-back:hover {
    transform: translateX(-10px);
}

.project-details-in {
    margin: 0px 120px;
}

.description-label {
    font-family: 'AlexandriaFLF', serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    width: 250px;
    color: gray;
}

.description-content {
    font-weight: 200;
    font-size: 22px;
    margin-top: -2px;
    width: 85%;
}

.description {
    padding: 10px 0;
}

.img-slider {
    padding: 120px 0;
    padding-left: 30px;
    display: flex;
    overflow-y: scroll;
    z-index: 10000;
    margin-left: -25px;
    margin-right: -25px;
}

.img {
    padding: 0 25px;
}

.img:last-of-type {
    padding-right: 45px;
}

.img-src {
    border-radius: 4px;
    box-shadow: -4px 13px 23px rgba(0, 0, 0, 0.5);
    height: 55vh;
}

@keyframes container-bobbing {
    0% {opacity: 1; transform: translateY(5px);}
    50% {opacity: 1; transform: translateY(-5px);}
    100% {opacity: 1; transform: translateY(5px);}
}

@media(max-width: 1290px) {
    .header {
        padding: 70px 50px 0px;
    }

    .project-heading {
        padding: 70px 50px 50px;
    }

    .project-nav {
        padding-right: 50px;
    }

    .project-details-in {
        margin: 0px 75px;
    }

    .cover-img {
        height: 300px;
    }

    .header-img {
        width: 55%;
    }
    
}

@media(max-width: 935px) {
    .header {
        padding: 70px 30px 0px;
    }

    .project-heading {
        padding: 70px 30px 50px;
    }

    .project-nav {
        padding-right: 30px;
    }

    .project-details-in {
        margin: 0px 60px;
    }

    .cover-img {
        height: 300px;
    }

    .header-img {
        width: 60%;
    }
    
}

@media(max-width: 835px) {
    .project-details-in {
        margin: 0px 35px;
    }

    .description-label {
        margin-bottom: 5px;
    }

    .description, .link, .downloads {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .description-content {
        width: 100%;
    }
}

@media(max-width: 784px) {
    .client-name {
        font-size: 50px;
    }

    .project-nav {
        font-size: 22px;
    }

    .arrow-fwd, .arrow-back {
        height: 30px;
        width: 30px;
    }

    .arrow-fwd {
        padding-left: 10px;
        transition: transform 0.5s ease-in-out;
    }

    .header-img {
        width: 65%;
        margin-bottom: -30px;
    }

    .cover-img {
        height: 250px;
    }
}

@media(max-width: 685px) {
    .client-name {
        font-size: 45px;
    }

    .header {
        padding-top: 40px;
    }

    .header {
        padding-left: 15px;
        padding-right: 15px;
    }

    .project-heading {
        padding-left: 15px;
        padding-right: 15px;
    }

    .project-nav {
        padding-right: 15px;
    }

    .project-details-in {
        margin-right: 20px;
        margin-left: 20px;
    }

    .project-heading {
        padding-bottom: 35px;
    }

    .header-img {
        width: 70%;
        margin-bottom: -20px;
    }

    .cover-img {
        height: 200px;
    }
}

@media(max-width: 620px) {
    .header__name, .header__intro {
        font-size: 40px;
    }

    .header__intro {
        margin-right: 12px;
    }

    .returnhome {
        margin-right: 20px;
    }
}

@media(max-width: 415px) {
    .header__name, .header__intro {
        font-size: 35px;
    }

    .header__intro {
        margin-right: 12px;
    }

    .returnhome-svg {
        height: 37px;
        width: 37px;
    }

    .returnhome {
        margin-right: 15px;
        height: 37px;
        width: 37px;
    }
}

@media(max-width: 365px) {
    .header__name, .header__intro {
        font-size: 30px;
    }

    .header__intro {
        margin-right: 10px;
    }

    .returnhome-svg {
        height: 33px;
        width: 33px;
    }

    .returnhome {
        margin-right: 14px;
        height: 33px;
        width: 33px;
    }
}

@media(max-width: 630px) {
    .client-label {
        font-size: 22px;
    }

    .project-nav {
        padding-top: 65px;
    }
    
    .client-name {
        font-size: 40px;
    }

    .project-arrows {
        margin-top: 10px;
    }

    .description-label {
        font-size: 18px;
    }

    .description-content {
        font-size: 20px;
    }
}

@media(max-width: 530px) {
    .client-name {
        font-size: 35px;
    }

    .project-nav {
        padding-top: 92px;
        padding-right: 15px;
        position: relative;
    }

    .project-num {
        display: none;
    }

    .arrow-back {
        margin-right: 10px;
    }

    .project-num-count {
        position: absolute;

        padding-left: 31px;
        padding-top: 8px;
    }
}

@media(max-width: 451px) {
    .img-slider {
        margin-left: -15px;
        margin-right: -15px;
    }
}

@media(max-width: 400px) {
    .project-heading {
        padding-bottom: 25px;
    }

    .client-name {
        font-size: 33px;
    }

    .description-content {
        font-size: 18px;
    }
}

@media(max-width: 377px) {
    .project-nav {
        padding-top: 30px;
    }
}

@media(max-width: 550px) {
    .header-img {
        margin-bottom: -45px;
        width: 80%;
    }
}

@media(max-width: 451px) {
    .header-img {
        width: 80%;
        margin-bottom: -30px;
    }

    .cover-img {
        height: 150px;
    }
}

@media(max-width: 415px) {
    .header-img {
        width: 85%;
        margin-bottom: -15px;
    }

    .cover-img {
        height: 175px;
    }
}

@media(max-width: 588px) {
    .img-src {
        height: 47vh;
    }

    .img-slider {
        padding-left: 15px;
    }
}

@media(max-width: 685px) {
    .winner {
        width: 100px;
    }
}

@media(max-width: 440px) {
    .winner {
        width: 75px;
    }
}

@media(max-width: 770px) {
    .arrow-fwd:hover {
        transform: none;
    }

    .arrow-back:hover {
        transform: none;
    }

    .description-content {
        font-weight: 300;
    }
}