.description {
    font-size: 29px;
    font-weight: 200;
    padding: 50px 85px 20px;
    animation: container-fade 0.5s;
}

.bold {
    font-weight: 400;
}

.green {
    color: #00AB6C;
    position: relative;
    z-index: 2;
}

.red {
    color: #E95B55;
}

.accenture {
    color: #00BBFF;
}

.experience, .volunteer, .skills {
    padding: 0 85px 40px;
}

.title {
    text-transform: uppercase;
    font-family: 'AlexandriaFLF', serif;
    color: gray;
    border-bottom: solid 1px gray;
}

.name {
    padding: 25px 0 30px 40px;
    font-size: 27px;
    width: 350px;
}

.year {
    padding: 41px 50px 0px;
    width: 250px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'AlexandriaFLF', serif;
    font-size: 13px;
    color: gray;
}

.content {
    padding: 36px 0;
    color: gray;
    font-weight: 300;
    width: 600px;
}

.position {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px gray;
}

.title, .exp {
    animation: container-fade 0.5s;
}

.accent {
    animation: container-fade 1s;
}

.ic {
    animation: container-fade 1.5s;
}

.explorer {
    animation: container-fade 2.5s;
}

.sewickley {
    animation: container-fade 3.5s;
}

.saieed {
    animation: container-fade 4.5s;
    border-bottom: none;
}

.all {
    animation: container-fade 5s;
}

.upmc {
    animation: container-fade 5s;
}

.academy {
    animation: container-fade 5s;
    border-bottom: none;
}

.skill-container {
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    animation: container-fade 5s;
}

.html, .css {
    height: 57px;
    width: 57px;
}

.python, .twilio, .swift {
    height: 52px;
    width: 52px;
}

.css {
    margin-right: 8px;
}

.python {
    margin-right: 17px;
}

.twilio {
    margin-right: 14px;
}

.swift {
    margin-right: 14px;
}

.r {
    height: 60px;
    width: 60px;
    margin-right: 13px;
} 

.java {
    height: 50px;
    width: 50px;
    margin-right: 15px;
} 

.ruby {
    height: 45px;
    width: 45px;
    margin-right: 13px;
} 

.angular {
    height: 60px;
    width: 60px;
    margin-right: -9px;
} 

.react {
    height: 80px;
    width: 80px;
} 

.nodejs {
    height: 70px;
    width: 70px;
    margin-right: 13px;
}

.net {
    height: 85px;
    width: 85px;
    margin-right: 12px;
}

.photoshop {
    height: 42px;
    width: 42px;
    margin-right: 13px;
}

.lightroom {
    height: 42px;
    width: 42px;
}

.sketch {
    height: 45px;
    width: 45px;
    margin-right: 13px;
}

.role {
    color: white;
    display: block;
}

@keyframes container-fade {
    0% {opacity: 0; transform: translateX(-70px);}
    100% {opacity: 1; transform: translateX(0px);}
}