<div class="about">
    <div class="description">
        <p>I'm a <span class="green">neuroscience</span> major at the 
        <span class="red">University of Chicago</span>, fascinated by the 
        potential application of technology to the field of medicine. I'm a self-taught
        designer, software developer, and photographer, and I'm currently
        an intern for <span class="accenture">Accenture</span>, building demo web
        applications for various Fortune 500 clients to demonstrate the
        plausibility of incorporating agile metholodies and DevOps into 
        legacy systems.</p>
        <br>
    </div>
    
    <div class="experience">
        <div class="title exp">Experience</div>
        <div class="position accent">
            <span class="name">Accenture</span>
            <span class="year">Jun. - Sep. 2017</span>
            <span class="content">
                <span class="role">Technology Summer Analyst</span>
                <span class="work">
                    Used Angular2 and React to build the front-end of several client demo applications, 
                    one of which helped close an $80 million deal. In addition, wrote functional tests
                    using Cucumber and Selenium, and unit tests using Jasmine. Lastly, built microservices
                    using Java Spring Cloud and Netflix OSS stack.
                </span>
            </span>
        </div>
        <div class="position ic">
            <span class="name">Inventory Connection</span>
            <span class="year">Jun. 2016 - Jun. 2017</span>
            <span class="content">
                <span class="role">Full Stack Developer</span>
                <span class="work">
                    Designed and developed both the front-end and back-end for the company's flagship application,
                    using Sketch, HTML, CSS, jQuery, C#, and .NET.
                </span>
            </span>
        </div>
        <div class="position explorer">
            <span class="name">ExplORer Surgical</span>
            <span class="year">May - Nov. 2016</span>
            <span class="content">
                <span class="role">Technical Operations Intern</span>
                <span class="work">
                    Helped create tutorial videos for the flagship application, as well as helped with
                    various technical issues and ensuring HIPAA compliance.
                </span>
            </span>
        </div>
        <div class="position sewickley">
            <span class="name">Sewickley Academy</span>
            <span class="year">Aug. - Sep. 2015</span>
            <span class="content">
                <span class="role">Information Technology Intern</span>
                <span class="work">
                    Assisted in computer/network set up and day-to-day technology maintenance.
                </span>
            </span>
        </div>
        <div class="position saieed">
            <span class="name">Saieed H. Saieed M.D.</span>
            <span class="year">Sep. 2011 - Aug. 2015</span>
            <span class="content">
                <span class="role">Information Technology Intern</span>
                <span class="work">
                    Set up an electronic medical records system, ensuring security via firewalls 
                    and VPN tunnels. Also maintained any all computers and technology used in the office.
                </span>
            </span>
        </div>
    </div>
    <div class="volunteer">
        <div class="title">Volunteer Work</div>
        <div class="position all">
            <span class="name">All for One</span>
            <span class="year">Sep. 2012 - Present</span>
            <span class="content">
                <span class="role">Co-Founder</span>
                <span class="work">
                    Helped found an organization that raises money for orphaned children in Egypt. 
                    Through bake sales and t-shirt sales, we have, to date, raised and sent approximately $9,000.
                </span>
            </span>
        </div>
        <div class="position upmc">
            <span class="name">UPMC Children's</span>
            <span class="year">Jun. 2014 - Aug. 2015</span>
            <span class="content">
                <span class="role">Volunteer Researcher</span>
                <span class="work">
                    Wrote script to process/analyze MRI data for use in various projects involving
                    the cognitive development of neonates
                </span>
            </span>
        </div>
        <div class="position academy">
            <span class="name">Sewickley Academy</span>
            <span class="year">Sep. 2011 - Feb. 2015</span>
            <span class="content">
                <span class="role">Mathcounts Coach</span>
                <span class="work">
                    Tutored middle school students in math, helping them learn college level topics
                    to compete at the national Mathcounts Competition.
                </span>
            </span>
        </div>
    </div>

    <div class="volunteer">
        <div class="title">Awards</div>
        <div class="position academy">
            <span class="name">Rotary Award</span>
            <span class="year">March 2014</span>
            <span class="content">
                <span class="role">Rotary Award for Excellence in Service to Humanity</span>
                <span class="work">
                    Award given by the Rotary Club to recognize non-Rotarians who
                    "have demonstrated exemplary humanitarian service consistent 
                    with Rotary's ideals." Received after nearly 600 hours of community
                    service over the course of three years.
                </span>
            </span>
        </div>
    </div>

    <div class="skills">
        <div class="title">Skills</div>
        <div class="skill-container">
            <img class="html" src="./../../../assets/img/tech-svgs/html.svg">
            <img class="css" src="./../../../assets/img/tech-svgs/css.svg">
            <img class="python" src="./../../../assets/img/tech-svgs/python.svg">
            <img class="twilio" src="./../../../assets/img/tech-svgs/twilio.svg">
            <img class="swift" src="./../../../assets/img/tech-svgs/swift.svg">
            <img class="r" src="./../../../assets/img/tech-svgs/r.svg">
            <img class="java" src="./../../../assets/img/tech-svgs/java.svg">
            <img class="ruby" src="./../../../assets/img/tech-svgs/ruby.svg">
            <img class="angular" src="./../../../assets/img/tech-svgs/angular.svg">
            <img class="react" src="./../../../assets/img/tech-svgs/react.svg">
            <img class="nodejs" src="./../../../assets/img/tech-svgs/nodejs.svg">
            <img class="net" src="./../../../assets/img/tech-svgs/net.svg">
            <img class="photoshop" src="./../../../assets/img/tech-svgs/photoshop.svg">
            <img class="sketch" src="./../../../assets/img/tech-svgs/sketch.svg">
            <img class="lightroom" src="./../../../assets/img/tech-svgs/lightroom.svg">
        </div>
    </div>
</div>