.form {
    padding: 40px 85px 60px;
}

.content {
    background: none;
    border: none;
    color: #ddd;
    font-size: 23px;
    padding: 36px 0 20px;
    font-weight: 200;
    width: 600px;
}

.submit {
    padding: 10px 0 0 0;
    width: auto;
    text-transform: uppercase;
    font-family: 'AlexandriaFLF', serif;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: solid 2px white;
    margin: 0 auto;
    cursor: pointer;
    -webkit-transition: color 1s ease-out, border 1s;
    transition: color 1s ease-out, border 1s;
}

.submit:hover {
    color: #00AB6C;
    border-bottom: solid 2px #00AB6C;
}

.name {
    padding: 0 0 0 75px;
    font-size: 27px;
    width: 550px;
}

.position {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px gray;;
}

.question {
    border: none;
}

.submission {
    display: flex;
    justify-content: center;
}

.question-name {
    float: left;
    margin-top: 32px;
    margin-right: 5px;
}

.t-name {
    animation: container-fade 0.5s;
}

.t-email {
    animation: container-fade 1s;
}

.t-question {
     animation: container-fade 1.5s;
}

.t-submit {
    animation: container-fade 2s;
}

.content::-webkit-input-placeholder {
    color: gray;
}

@keyframes container-fade {
    0% {opacity: 0; transform: translateX(-70px);}
    100% {opacity: 1; transform: translateX(0px);}
}

@media(max-width: 1385px) {
    .name {
        width: 450px;
    }
}

@media(max-width: 1292px) {
    .content {
        width: 500px;
    }

    .submit {
        width: auto;
    }
}

@media(max-width: 1175px) {
    .name, .content {
        width: 100%;
        display: block;
    }

    .name {
        padding-left: 0;
    }

    .content {
        padding-top: 5px;
    }

    .position {
        flex-direction: column;
    }

    .name, .question-name {
        margin-top: 35px;
    }
}

@media(max-width: 808px) {
    .form {
        padding: 40px 30px 50px;
    }
}

@media(max-width: 550px) {
    .name {
        font-size: 23px;
        font-weight: 500;
    }

    .content {
        font-size: 19px;
        font-weight: 400;
    }
}

@media(max-width: 451px) {
    .form {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media(max-width: 400px) {
    .name {
        font-size: 21px;
    }

    .content {
        font-size: 17px;
    }
}

@media(max-width: 350px) {
    .name {
        font-size: 20px;
    }

    .content {
        font-size: 16px;
    }
}

@media(max-width: 603px) {
    .form {
        padding-top: 30px;
    }
}

@media(max-width: 470px) {
    .form {
        padding-top: 15px;
    }
}